@import "guideline";

html {
  background-color: $map-grey;
}

body, html {
  margin: 0;
  padding: 0; // remove margin stuff
  box-sizing: border-box;

  background-color: $map-grey;
  width: 100vw;
  height: fit-content;
}

.no-drag {
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}